.ag-fresh {color:#666;font-size:13px;}

.ag-fresh .ag-ltr .ag-header-cell, .ag-fresh .ag-row-odd  {border:none;background-color:#fff;color:#666;}

.ag-fresh .ag-root {border:none;}

.ag-fresh .ag-header {border-bottom-color:#e6e6e6}